.dark {
    background: #1f2533;
    margin: 0px;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

/* Result Container */
.dark .gsc-control-wrapper-cse {
    background: #1f2533 !important;
}

.dark .gsc-control-cse {
    border: none !important;
}

.dark .gsc-wrapper {
    padding: 5px 0px !important;
    background: #1f2533;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #dddddd00;
}

.dark .gsc-positioningWrapper {
    background: #11100f;
}

.dark .gsc-results {
    width: 100% !important;
}

.dark .gsc-control-cse {
    padding: 0px !important;
}

.dark .gsc-control-cse.gsc-control-cse-en {
    background: #1b1a19 !important;
}

.dark .gsc-webResult.gsc-result {
    border-bottom: 0px !important;
    background: #101116 !important;
    margin: auto !important;
    width: 90% !important;
    border: none !important;
    border-radius: 10px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 15px 8px !important;
    box-shadow: 0 1px 6px rgb(32 33 36 / 20%);
}

/*  */
/* Result Container Under*/
.dark .gs-title {
    font-size: 20px !important;
}

.dark .gs-title a {
    color: #00a2ff !important;
}

.dark .gsc-url-top {
    border-bottom: 2px solid;
    border-image: linear-gradient(50deg, #00ff89 0%, #006aff 74%) 80;
}

.dark .gs-title b {
    color: #00a2ff !important;
    font-weight: 400;
    font-size: 20px !important;
}

.dark .gs-bidi-start-align.gs-snippet {
    color: white !important;
}

.dark .gs-fileFormat {
    margin: 5px 0px 6px 0px !important;
}

.dark .gs-bidi-start-align.gs-snippet {
    font-size: 15px !important;
    font-weight: 500;
    margin-top: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark .gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-breadcrumb {
    color: #ffffff !important;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Tabs */
.dark .gsc-positioningWrapper {
    background: #1f2533;
    width: 100% !important;
    margin: auto;
    border-radius: 0px !important;
    margin-bottom: 5px;
    color: white !important;
    /* box-shadow: 0 1px 6px rgb(32 33 36 / 28%); */
}

.dark .gsc-tabsArea {
    margin: auto !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    white-space: nowrap;
    border: none !important;
    padding: 0px 0px !important;
    width: 90% !important;
    background: transparent !important;
}

.dark .gsc-tabHeader.gsc-inline-block.gsc-tabhActive {
    border: none !important;
}

.dark .gsc-tabHeader {
    font-size: 15px !important;
    width: 0px !important;
    border: none;
    border-radius: 0;
    padding: 0;
}

.dark .tabs {
    display: inline-flex;
    overflow-x: scroll;
    font-size: 16px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark .tabs .tb {
    margin: 0px 10px;
    font-size: 17px;
    padding: 3px 5px 2px 5px;
}

/* Search Bar */

.dark table.gsc-search-box {
    margin: auto;
    justify-content: center;
    height: 55px;
    box-sizing: border-box;
    /* border-bottom: 3px solid !important */
    border-radius: 30px !important;
    /* box-shadow: 0 1px 6px rgb(32 33 36 / 28%); */
    border-image: linear-gradient(315deg, #00ddff 0%, #ff00d4 74%) 80 !important;
    padding: 0px 10px 0px 10px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    margin-top: 20px !important;
    width: 90% !important;
    background: #ffffff00 !important;
    box-shadow: 0px 0px 5px 0px white;
}

.dark .gsc-input-box {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    height: 55px !important;
    box-sizing: border-box;
    background: transparent !important;
    border: none !important;
    display: flex !important;
    align-items: center !important;
}

.dark .gsc-input-box input {
    background: transparent !important;
    color: white !important;
}

.dark .gsc-search-button-v2 {
    width: auto;
    padding: 11px 10px;
    margin: 0;
    height: 100% !important;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: transparent !important;
    fill: rgb(255, 255, 255) !important;
    border: none !important;
}

.dark i.bi.bi-search {
    font-size: 20px;
    padding-left: 10px;
    color: white;
}

/* Promotion */
.dark .gs-visibleUrl.gs-visibleUrl-long {
    color: #ffffff !important;
    font-size: 15px !important;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    border-image: linear-gradient(50deg, #00ff89 0%, #006aff 74%) 80;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark .gs-promotion-text-cell {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* */
.dark .gsc-cursor{
    color: white;
}
.dark .gsc-cursor-next-page{
    color: white;
}
.dark .gsc-cursor-numbered-page{
    color: white;
}
.dark svg.gsc-cursor-chevron{
    fill: white;
}
.dark .gsc-cursor-container-next svg{
    fill: white;
}