body{
    display: none;
}
/* Result Container Under*/
/* .gs-title {
    font-size: 20px !important;
}

.gs-title a {
    color: #0051ff !important;
}

.gsc-url-top {
    border-bottom: 2px solid;
    border-image: linear-gradient(50deg, #00ff89 0%, #006aff 74%) 80;
}

.gs-title b {
    color: #0051ff !important;
    font-weight: 400;
    font-size: 20px !important;
}

.gs-fileFormat {
    margin: 5px 0px 6px 0px !important;
}

.gs-bidi-start-align.gs-snippet {
    font-size: 15px !important;
    font-weight: 500;
    margin-top: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-breadcrumb {
    color: #3c4043 !important;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

/* Promotion */
/* .gs-visibleUrl.gs-visibleUrl-long {
    color: #3c4043 !important;
    font-size: 15px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    border-image: linear-gradient(50deg, #00ff89 0%, #006aff 74%) 80;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gs-promotion-text-cell{
    margin-left: 0px !important;
    margin-right: 0px !important;
} */

/*  */

/*  */
/* Result Container */
/* .gsc-wrapper {
    padding: 5px 0px !important;
    background: #f1f3f4;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.gsc-results {
    width: 100% !important;
}

.gsc-control-cse {
    padding: 0px !important;
}

.gsc-control-cse.gsc-control-cse-en {
    background: #f1f3f4 !important;
}

.gsc-webResult.gsc-result {
    border-bottom: 0px !important;
    background: rgb(255, 255, 255) !important;
    margin: auto !important;
    width: 90% !important;
    border-radius: 10px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 15px 8px !important;
    box-shadow: 0 1px 6px rgb(32 33 36 / 20%);
} */

/*  */

/* Search Bar */

/* table.gsc-search-box {
    margin: auto;
    justify-content: center;
    height: 55px;
    box-sizing: border-box;
    border-radius: 30px !important;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-image: linear-gradient(315deg, #00ddff 0%, #ff00d4 74%) 80 !important;
    padding: 0px 10px 0px 10px;
    margin-top: 20px !important;
    width: 90% !important;
    background: #ffffff !important;
}

.gsc-input-box {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    height: 55px !important;
    box-sizing: border-box;
    background: transparent !important;
    border: none !important;
    display: flex !important;
    align-items: center !important;
}

.gsc-input-box input {
    background: transparent !important;
}

.gsc-search-button-v2 {
    width: auto;
    padding: 11px 10px;
    margin: 0;
    height: 100% !important;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: transparent !important;
    fill: black !important;
    border: none !important;
}

i.bi.bi-search{
    font-size: 20px;
    padding-left: 10px;
} */


/*  */

/* Search Suggen */
td.gssb_f {
    display: none !important;
}

td.gssb_e {
    width: 90% !important;
    margin: auto !important;
}

td.gssb_a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3c5fa4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

table.gstl_50.gssb_c {
    width: 90% !important;
    left: 0px !important;
    right: 0px !important;
    margin: auto !important;
}

tbody {
    width: 100% !important;
}

table.gsc-completion-container {
    width: 100% !important;
}

/*  */

/* Blocks */
.gsc-adBlock {
    display: none !important;
}

.gcsc-find-more-on-google-root {
    display: none;
}

a.gs-image {
    border: none !important;
}

/*  */



/* Tabs */
/* .gsc-positioningWrapper {
    background: #f1f3f4;
    width: 100% !important;
    margin: auto;
    border-radius: 0px !important;
    margin-bottom: 5px;
}

.gsc-tabsArea {
    margin: auto !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    white-space: nowrap;
    border: none !important;
    padding: 0px 0px !important;
    width: 90% !important;
    background: transparent !important; 
}

.gsc-tabHeader.gsc-inline-block.gsc-tabhActive {
    border: none !important;
}

.gsc-tabHeader {
    font-size: 15px !important;
    width: 0px !important;
    border: none;
    border-radius: 0;
    padding: 0;
}

.tabs{
    display: inline-flex;
    overflow-x: scroll;
    font-size: 16px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tabs .tb{
    margin: 0px 10px;
    font-size: 17px ;
    padding: 3px 5px 2px 5px;
} */


/*  */

/* Img Result */
/* .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult{
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    width: 90% !important;
} */
