body {
    margin: 0px;
    transition: 500ms;
    display: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

section {
    display: grid;
    transition: background 0.4s;
    background: #ffffff;
    padding: 10px 10px 10px 10px;
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px gray;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    scroll-behavior: smooth;
    background: rgba(62, 62, 51, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: gray;
}

.bi-brightness-low {
    font-size: 35px;
    margin-left: 10px;
    cursor: pointer;
    color: #ffffff;
    display: none;

}

.bi-brightness-low-fill {
    font-size: 35px;
    margin-left: 10px;
    cursor: pointer;
    color: #505050;
    display: none;
}

.logo {
    display: inline-flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    margin-top: 90px;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.238);
    box-shadow: 0px 0px 1px 1px #0468ff, 0px 0px 10px 2px #ff00d4;
    border-image: linear-gradient(315deg, #00ddff 0%, #ff00d4 74%) 80;
}

.nav img {
    width: 50px;
    border-radius: 30px;
    float: right;
    margin-right: 10px;
    box-shadow: 0px 0px 5px 0px #747474;
    padding: 3px;
    transition: 1s;
    cursor: pointer;
    position: absolute;
    right: 5px;
}

.searchcontent {
    width: 85%;
    margin: auto;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    /* animation: ani1 1s ; */
}

@keyframes ani1 {
    0% {
        margin-top: 150px;
        width: 50%;
    }

    100% {
        margin-top: 0px;
        width: 100%;
    }
}

@keyframes ani2 {
    0% {
        margin-top: 150px;
        width: 50%;
    }

    100% {
        margin-top: 0px;
        width: 85%;
    }
}

.searchbar {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 55px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 0px gray;
    border-bottom: 3px solid;
    border-image: linear-gradient(315deg, #00ddff 0%, #ff00d4 74%) 80;
    padding: 0px 10px 0px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.moresc {
    overflow-x: scroll;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;

}

.moresc select {
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 2px 0px rgb(163, 164, 165);
    outline: 0;
    border-bottom: 3px solid #006aff;
    background: white;
    font-size: 15px;
    margin-right: 15px;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.moresc button {
    background: white;
    border: none;
    box-shadow: 0px 0px 5px 0px rgb(163, 164, 165);
    font-size: 15px;
    padding: 0px 10px;
    border-bottom: 3px solid #006aff;
}

.searchbar input {
    width: 100%;
    outline: 0;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.inp::placeholder {
    color: white;
}

.searchbar button {
    outline: 0;
    border: 0px;
    background: none;
    cursor: pointer;
}

.searchbar button img {
    width: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px grey;
    margin: auto;
}

.searchengines {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 85%; */
    box-shadow: 0px 0px 10px 1px gray;
    padding: 15px;
    /* border-radius: 8px; */
    background: white;
    /* height: 75%; */
    overflow-y: scroll;
    display: none;
}

.aaaa {
    display: flex;
    align-items: baseline;
}

.aaaa h2 {
    width: 100%;
}

.searchengines .cc {
    display: flex;
    align-items: center;
    border-bottom: 3px solid;
    border-image: linear-gradient(315deg, rgb(255, 255, 255) 0%, rgb(0 126 255) 74%) 80;
    padding: 15px 0px 15px 0px;
    cursor: pointer;
}

.aaaa button {
    font-size: 25px;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

.searchengines .cc img {
    width: 50px;
    /* border: 2px solid gray; */
    box-shadow: 0px 0px 7px 0px #c9c1c1;
    margin-right: 14px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 3px;
    transition: 1s;
}

.changes {
    position: absolute;
    margin: auto;
    bottom: 15px;
    left: 0;
    right: 0;
    width: fit-content;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0px 0px 5px 1px #898989;
}

#sugen {
    display: block;
    margin: auto;
    padding: 0px 20px;
    height: 400px;
    overflow-y: scroll;

}

#sugen h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 2px solid;
    border-image: linear-gradient(50deg, #aeff00 0%, #006aff 74%) 80;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    cursor: pointer;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 0px;
    padding-right: 0px;
}

#chatlog {
    overflow-y: scroll;
    height: 85%;
}

#chatbox {
    height: 85%;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
}

#chatbox .chatbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    height: 15%;
    /* box-shadow: 0 1px 6px rgb(32 33 36 / 28%); */
    /* background: white; */
}

.jfl {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 50px;
    margin: auto;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    padding: 0px 10px 0px 10px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.jfl input {
    width: 100%;
    border: none;
    outline: 0;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jfl button {
    border: none;
    background: transparent;
    outline: 0;
}

.user {
    padding: 20px 15px 20px 15px;
    /* background: white; */
    font-size: 17px;
    font-weight: 600;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    animation: popup 100ms;
}

.bot {
    padding: 20px 15px 20px 15px;
    /* background: white; */
    text-align: center;
    width: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 30px;
    /* color: #000000; */
    animation: popup 200ms;
    /* box-shadow: 0 1px 6px rgb(32 33 36 / 28%); */
}

@keyframes popup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bot a {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    padding: 10px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    color: rgb(0, 140, 255);
    font-weight: 600;
    border-radius: 8px;
    background: white;
}

.link {
    margin-top: 20px;
}

.bot p {
    font-size: 15px;
    text-align: left;
}

.bot img {
    width: 250px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);

}

.content1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
}

.content1 h3 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 10px;
    padding-top: 0px;
    border-bottom: 3px solid #0468ff;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}


.se1 {
    margin-left: 13px;
}

.se1 h2 {
    color: rgb(0, 0, 0);
    font-size: 28px;
}

.se1 p {
    color: #00aaff;
    font-size: 18px;
    font-weight: 700;
}

.se1 a {
    padding: 13px 25px;
    color: white;
    border: none;
    margin-bottom: 20px;
    outline: 0;
    border-radius: 5px;
    background: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    animation: seimgb 2s linear infinite;
    /* position: absolute; */
    display: block;
    width: fit-content;
    text-decoration: none;
}

.se1 .avail {
    font-size: 18px;
    padding: 15px 10px;
    width: -moz-fit-content;
    /* width: -webkit-max-content;  */
    width: fit-content;
    color: white;
    background: linear-gradient(196deg, #ff6225, #ff09ff);
    border-radius: 6px;
    margin-top: 20px;
}

.se2 {
    text-align: center;
}

.se2 img {
    width: 95%;
    border: 4px solid #2758e8;
    padding: 5px;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-color: #ff09ff;
}

@media (min-width: 1000px) {
    .searchcontent {
        width: 60%;
    }

    section {
        display: flex;
        align-items: center;
        padding: 50px 0px 50px 0px;
        width: 80%;
    }

    .se2 img {
        width: 75%;
    }

    .se1 {
        margin-left: 80px;
    }



}




/*  */
.chatdark .chatbar {
    background: #1f2533;
    box-shadow: 0px 0px 3px 0px rgb(255 255 255);
}

.chatdark .chatbar .jfl {
    box-shadow: 0px 0px 2px 0px rgb(183 183 183);
}

.chatdark .chatbar input {
    background: transparent;
    color: white;
}

.chatdark .chatbar .jfl button i.bi.bi-lightning-charge {
    color: #1fd1f9 !important;
}

.chatdark #chatlog #userlogo {
    color: white;
}

.chatdark #chatlog .user {
    color: white;
}

.chatdark .bot {
    background: transparent;
    box-shadow: 0px 0px 3px 0px #ffffff;
    color: white;
}